<div *ngFor="let notification of anyNotifications" class="notifications">
  <!-- <div class="notification-author-photo"></div> -->
  <!-- [ngStyle]="{'background-image': 'url('+ notification.payload.user.photoUrl +')'}" --> -->
  <div *ngIf="notification.subject === 'new_user'">
    {{'Bienvenue '}}<b>{{notification.payload.user.username}}</b> !
  </div>
  <div *ngIf="notification.subject === 'room_added'">
    {{'Nouveau salon' }}<b>{{notification.payload.room}}</b> {{' créé par '}} <b>{{notification.payload.user.username}}</b>
  </div>
  <div *ngIf="notification.subject === 'post_liked'">
    <b>{{notification.payload.user.username}}</b>{{ 'a liké' }}<b>{{notification.payload.preview}}</b>
  </div>
  <div class="date">à {{notification.timestamp | date:'short'}}</div>
</div>